<div class="knowledge">
  <section class="education">
    <button (click)="showEducation()">Education</button>
    <div class="accessory">
      <div @fadeAnimation class="wrap" *ngIf="isEducationVisible">
        <div class="clip">
          <button class="hideButton" (click)="hideEducation()">x</button>
          <ul>
            <li>
              <strong>
                V.N. Karazin Kharkiv National University, 1995 – 2000
              </strong>
              - Specialist in Economic statistics (which is mixture of mathematics and economics)
            </li>
            <li>
              <strong>
                Kyiv National Economic University, 2004
              </strong>
              - Doctor of Philosophy in Economics (speciality – Statistics)
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="languages">
    <button (click)="fetchData()">
      Language List
    </button>
    <div class="accessory">
      <div @fadeAnimation class="wrap" *ngIf="isDataReceived && isDataVisible">
        <div class="clip">
          <button class="hideButton" (click)="hideList()">x</button>
          <ul>
            <li *ngFor="let language of languages">{{language.name}} - {{language.level}} {{language.certificate}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="courses">
    <button (click)="showCourses()">Courses</button>
    <div class="accessory">
      <div @fadeAnimation class="wrap" *ngIf="isCoursesVisible">
        <div class="clip">
          <button class="hideButton" (click)="hideCourses()">x</button>
          <ul>
            <li *ngFor="let course of courses">
              <strong> {{course.name}} </strong> - {{course.place}}, {{course.time}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>