@import '../config';
footer {
  background-color: $main-dark-color;
  color:$main-light-color;
  font-family: 'Satisfy', cursive;
  font-size: 1em; 
  @include use-for-screen (650px) {      
      font-size: 1.1em;
  }
  @include use-for-screen {      
  font-size: 1.2em;
  }
  div {
    padding: 5px 0 0 2%;
  } 
  ul {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-around; 
     padding: 5px 0 10px 8%;      
  }
  
  li {    
    width: 30%;
    min-width: 250px;
    list-style-type: none;
    
  }
  img {
    display: inline-block;
    width: 20px;
    height: 20px;
    padding-right: 3px;
  }
}