<div class="experience-and-skills">
  <section class="experience">
    <h2>Experience</h2>

    <div class="content">
      <p>
        <b>2018 December – 2019 March</b> – realisation of a project in SoftServe IT Academy Project
      </p>
      <h3 class="curly-font"> Project description : </h3>
      <p>
        <strong>TalkingThreads</strong> – my pride and joy – full-featured WebRTC-capable application based on OpenVidu
        platform, which can be used for
        creating video-call sessions.
      </p>
    </div>
    <div>
      <p>
        This application is designed for those who want be in touch with their friends, relatives and colleagues but
        don’t like to install additional software.
      </p>
      <p>
        TalkingThreads provides video, voice and text communications. And all
        one needs to use it is Internet regardless of browser! And of course, TalkingThreads is completely free to use.
      </p>
      <p>
        You can find out more about TalkingThreads or even try and use it if you click this button
      </p>

    </div>
    <div class="button-wrap">
      <button class="link" (click)="goTo()">Head for TalkingThreads!</button>
    </div>

  </section>

  <section class="skills">
    <h2>Skills</h2>
    <div class="check-list">
      <form [formGroup]="skillsForm" name="skills-list">
        <div class="outer" *ngFor="let skill of allSkills">
          <input id="{{skill.codeWord}}" formControlName="{{skill.codeWord}}" name="{{skill.codeWord}}"
            type="checkbox" />
          <label for="{{skill.codeWord}}">{{skill.name}}</label>
        </div>
      </form>
    </div>

    <div class="content">
      <div *ngFor="let visibleSkill of visibleSkills; let odd=odd; let even=even;" [ngClass]="{ odd: odd, even: even }">
        <h3>{{visibleSkill.name}}&nbsp;:</h3>
        <ul class="skills-detalisation">
          <li *ngFor="let item of visibleSkill.list">
            <div> {{item}}</div>
          </li>
        </ul>
      </div>
    </div>


  </section>
</div>