@import url('https://fonts.googleapis.com/css?family=Arizonia|Satisfy:400,700');
$main-color: #4040a1;
$main-dark-color: #36486b;
$additional-color: #618685;
$main-light-color: #fefbd8;

$base-width: 100vw;

@mixin use-for-screen ($min-width:768px) {
  @media (min-width: $min-width) {
    @content;
  }
}
@mixin header () {
  color: $main-dark-color;
  font-family: 'Satisfy', cursive;
  text-decoration: underline;
}
