<section class="greeting">
  <img class="my-photo" src="./assets/images/photo.jpg">
  <div class="info">
    <div class="main-text">
      <img [@handWave]=currentState (click)="wave()" (load)="wave()" src="./assets/images/hand.svg">
      <h1>Hello! I am Olena</h1>
    </div>
    <div class="additional-text">
      And I'd like to get the job of a Junior Front-end Developer<br />
      Let me tell you a little about myself
    </div>

    <div class="narrative">
      <p>
        I am only a beginner at Front-end, who nevertheless has got the hang of main principles of web site’s creating
        (both client side and server side).
      </p>
      <p>
        One who, being used to relying upon understanding things rather than upon memorizing them, likes
        JavaScript/React/Angular more, than HTML/CSS/SCSS (but realizes the importance of them all); and of course,
        comprehending limitation of his current knowledge, yearns to know more.
      </p>
      <p>
        Communicative team player, flexible and thirsty for knowledge with logical type of thinking and good analytical
        abilities.
      </p>
      <p>
        As for my leisure time, I like to pass it reading, listening to audio books in English, communicating with
        people, walking outdoors, playing computer games etc.
      </p>
    </div>
  </div>
</section>